.container_search-page{

	.search-results{
		padding-top: 2em;
		.confine{
			margin: 0 auto;
			max-width: 1100px;
			display: grid;
			grid-template-columns: 4fr 1fr;
			gap: 3em;
			padding-top: 2em;
			.container_list{
				display: grid;
				grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
				gap: 2.5em 1em;
			}
		}
	}
}