.container_anime-detail{

	.banner{
		height: 300px;
		position: relative;
		border-bottom: .5em solid #F1215F;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: blur(2px);
			scale: 1.1;
			position: relative;
			z-index: -10;
		}
		
		.overlay{
			background: linear-gradient(to top, rgba(37, 36, 36, 0.8), transparent 70%);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
		}
	}
	.confine{
		max-width: min(80%,1000px);
		margin:  0 auto;
		display: grid;
		grid-template-columns: 4fr 1fr;
		gap: 2em;
		position: relative;
		z-index: 100;

		.detail-part{
			max-width: 700px;
			position: relative;
			top: -50px;
			
			&.longer-header{
				top: -75px;
				.info-part .title-container{
					gap: 0;
					padding-bottom: 1em;
				}
			}

			z-index: 100;
			position: relative;
			.info-part{
				width: 100%;
				.title-container{
					margin-bottom: 1em;
					display: flex;
					flex-wrap: wrap;
					gap: .2em;
					align-items: center;
					padding-bottom: .5em;
					h2{
						color: white;
						font-weight: 400;
						font-size: 1.5rem;
						white-space: nowrap;
						text-shadow: -2px 2px 4px black;
					}
					span{
						font-size: 1rem;
						text-shadow: -2px 2px 4px black;
						color: #F3215C;
					}
				}
				.description{
					padding: 1em;
					font-weight: 400;
					font-size: .9rem;
				}
				.trailer{
					max-width: 100%;
					iframe{
						width: 100%;
						border-radius: .55em;
						border: 2px solid #62A1FF;
						box-shadow: -2px 2px 4px 1px #050d1825;
					}
					margin: 1em 0;
				}

				margin-bottom: 2em;
			}       
			.details-list{
				display: grid;
				grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
				gap: .5em;
				margin: 1em 0;
			
			}   
			
			
			.episodes{
				.header{
					filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.153));
					background-color: #F3215C;
					border: 2px solid white;
					color: white;
					padding: .3em 1em;
					display: flex;
					border-radius: 2em;
					justify-content: space-between;
					align-items: center;
					.left{
						display: flex;
						align-items: center;
						gap: .4em;
						.icon{
							font-size: 1.2rem;
						}
					}
				}
				.list{
					display: grid;
					grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
					gap: 2em .5em;
					margin: 1em;
					.episode{
						padding: 0;
						border-radius: 1em 1em 0.2em 0.2em;
						.episode-header{
							background-color: #FF4372;
							color: white;
							font-size: .7rem;
							border-radius: 1em 1em 0 0;
							text-align: center;
							padding: .25em;
						}
						.episode-body{
							display: flex;
							padding: .35em;
							justify-content: center;
							align-items: center;
							gap: .4em;
							.btn{
								color: white;
								background:none;
								border: none;
								border-radius: .25em;
								padding: .25em .5em;
							}

							.btn-watch{
								border: 2px solid #62A1FF;
								background-color: #62A1FF;
								a{
									color: white;
									text-decoration: none;
								}

							}
							.btn-download{
								color: #62A1FF;
								border: 2px solid #62A1FF;
							}
						}
					}
				}
			}
			.episodes-not-found{
				background-color: #383645;
				color: white;
				font-size: .8rem;
				padding: 2em;
				border-radius: .25em;
				text-align: center;
				font-weight: 400;
			}
		}

		.detail-sidebar{
			position: relative;
			top: -200px;

			.poster{
				border: 4px solid white;
				border-radius: .5em;
				scale: 0.8;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			}  

			.sidebar-part{
				min-height: 400px;
				background-color: #E5E5E5;
				border-radius: .5em;
			}
		}
	}
}