.container_anime-detail{

	.banner{
		height: 300px;
		position: relative;
		border-bottom: .5em solid #F1215F;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: blur(2px);
			scale: 1.1;
			position: relative;
			z-index: -10;
		}
		
		.overlay{
			background: linear-gradient(to top, rgba(37, 36, 36, 0.8), transparent 70%);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
		}
	}
	.watch-section{
		.anime-detail{
			
			.genre-list{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				gap: .25em;
				.genre{
					font-size: .66rem;
					background-color: #a82c5196;
					color: white;
					padding: .25em 1em;
					border-radius: 1em;	
					transition: all 250ms ease;
					&:hover{
						transform: scale(103%);
					}
				}
			}

			.detail-grid{
				display: grid;
				grid-template-columns: 1fr 1fr;
				background-color: #599bff;
				margin: 0 1em;
				border-radius: .25em;
				box-shadow: 4px 5px rgba(0, 0, 0, 0.164);
				.media-info-part{
					.info-part-header{
						background-color: #3575d4;
						font-size: .5rem;
						letter-spacing: 1px;
					}
					.media-info-content{
						p{
							background-color: #1b56ae3f;
						}
						
					}
				}
			}
			
			.show-link{
				color: white;
				font-size: .8rem;
				background-color: #599bff;
				text-decoration: none;
				padding:.25em 1em;
				text-align: center;
				transition: all 100ms ease;
				border-radius: .25em;
				display: block;

				&:hover{
					scale: 1.01 !important;
					background-color: rgba(36, 124, 255, 0.456)
				}
			}
		
		}
	}
}