.btn{
	transition: all 60ms linear;
	scale: 1;
	font-family: var(--fontPoppins);
	display: flex;
	align-items: center;
	gap: .2em;
	border-radius: .5em;
	&:hover{
		scale: 1.05;
	}

	&:active{
		scale: .98;
	}
	cursor: pointer;
}