.container_detail-layout{
	max-width: min(80%,1000px);
	margin:  0 auto;
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	gap: 2em;
	position: relative;
	z-index: 100;
	min-height: 1000px;
	background-color: white;
}