.container_manga-read{
	background-color: #22212B;
	height: 100vh;
	margin-top:-50px;
	.manga-read-layout{
		height: 100%;
		display: grid;
		grid-template-columns: 310px 1fr;
		.container_manga-action-detail{
			padding: 1em;
			background-color: #F1215E;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			position: relative;
			box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.199);
			z-index: 100000;
			.top{
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1em;
				.manga-navigation{
					display: flex;
					align-items: center;
					width: 100%;
					gap: .25em;
					p{
						color: #7E0D58;
						font-size: .9rem;
					}
				}
				.site-logo{
					max-width: 85%;
					padding: .25em;
				}
				.read-navigation{
					width: 100%;
					.manga-title{
						text-align: center;
						font-size: 1.2rem;
						color: white;
						font-weight: 500;
					}
					.active-chapter,.chapter-total{
						background-color: #FFE3EA;
						padding: .25em 1em;
						border-radius: .25em;
						color: #7E0D58;
						text-align: center;
						margin: 1em auto;
						max-width: 80%;
					}
					.active-chapter{
						cursor: pointer;
						transition: all 100ms ease;
						&:hover{
							scale: 1.01;
							background-color: #ffc7d5;
						}
						&:active{
							scale: .99;
						}
					}
					.chapter-total{
						width: auto;
						margin:  0;
						border-radius: 1em;
						font-weight: 500;
					}
					.chapter-navigation{
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 1em;
						.btn-readmanga{
							border-radius: 1em;
						}
						
					}
				}
			}
			.bottom{
				.reading-options{
					display: flex;
					flex-direction: column;
					margin: 2em 0;
					gap: .4em;
					.reading-option{
						.reading-option-title{
							color: white;
							font-size: 1rem;
							font-weight: 500;
							margin: .25em 0;
							text-indent: 2px;
						}
						.reading-option-buttons{
							display: flex;
							justify-content: stretch;
							gap: .1em;
							align-items: center;
							.param-link{
								width: 100%;
								height: 100%;
							
							}
							.btn{
								width: 100%;
								font-size: 1rem;
								&:hover{
									z-index: 100;
								}
							}
							.btn-readmanga.active{
								scale: .95;
								outline: 1px solid white;
							}
							.btn-readmanga.inactive{
								font-size: .9rem;
							}
						}
					}
				}

				.btn-collapse{
					width: 100%;
					padding: .25em;
					color: white;
					font-size: 1.2rem;
					background:none;
					border: 4px solid #7E0D58;
					display: flex;
					justify-content: center;
					&:hover{
						background-color: #7E0D58;
						scale: 1.02;
					}
				}
			}
		}

		.container_manga-view{
			display: flex;
			flex-direction: column;
			max-height: 100vh;
		}

		.manga-basic-view{
			
			overflow-y: auto;
			max-height: 100vh;
			.manga-image{
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 100vh;
				object-fit: contain;
			}
		}
	}

	.btn-readmanga{
		background-color: #7E0D58;
		color: white;
		font-size: 1.5rem;
		border: none;
		padding: .25em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-readmanga.inactive{
		background-color: #FFE3EA;
		color: #7E0D58;
		font-size: 1rem;
		border: none;
		padding: .25em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

main.empty{
	padding-top: 0px;
}