.container_home-title{
	background:linear-gradient(to bottom,#C92253, #3936460a 40%);
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	.title-section{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		max-width: min(80%,800px);
		img{
			display: block;
			max-width: 400px;
			object-fit: contain;
		}

		.tagline{
			color: #FF688F;
		}
	}
}