#container_novel-detail{

	.genre-list{
		display: flex;
		gap: .25em;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		.genre{
			padding: .25em 1em;
			background-color: #7E0D58;
		}
		
	}
	.group{
		align-items: center;
		display: flex;
		justify-content: stare;
		.media-info-part{
			width: 100%;
			height: 100%;
		}
		// grid-template-columns: 1fr 1fr;
		// gap: 0;
		// align-items: stretch;
	}
}